
#galeria{
    width: 300px;
    height: 300px;
    
}

.some{
    display: none;
    opacity: 0;
}

.mostraFoto{
    animation: mostraFoto 0.5s;
}

.someFoto{
    animation: someFoto 0.5s;
}

@keyframes mostraFoto {
    
    to{
        display: inline-block;
        opacity: 1;
    }
}

@keyframes someFoto {
    
    to{
        display: none;
        opacity: 0;
    }
}
/*
.anima{
    animation: animaDiv 1s;
}

@keyframes animaDiv {

    0%{
        background-color: green;
        left: 200px;
        top: 0;
    }       

    50%{
        background-color: yellow;
        left: 400px;
        top: 200px;
        transform: scale(1);
    }

    75%{
        background-color: blue;
        left: 100px;
        top: 200px;
        transform: scale(1.5);
    }

    100%{
        background-color: orange;
        left: 200px;
        top: 0;
        transform: scale(1);
    }
}

@keyframes animaDiv2 {
    
    from{ 
        
    }

    to{ 
        
    }

}

@-moz-keyframes animaDiv { forçar no firefox

    0%{
        background-color: green;
        left: 0;
        top: 0;
    }       

    50%{
        background-color: yellow;
        left: 250px;
        top: 250px;
    }

    75%{
        background-color: blue;
        left: 0;
        top: 250px;
    }

    100%{
        background-color: orange;
        left: 0;
        top: 0;
    }
}*/