*{
    font-family: narrow, arial;
}

#erroNome, #erroLogin, #erroSenha, #erroCargo, #erroSalario{
    display: none;
    font-size: 11pt;
}

#msgExito, #msgErro, #formularioCadastro, #cTodos, #cCliente, #cFunc, .table{
    display: none;
}
