@media screen and (min-width: 768px) {
    .navbar-nav{
        flex-direction: row !important;
    }
}

@media screen and (max-width: 767px) {
    .navbar-nav{
        flex-direction: column !important;
    }
}

.titulo{
    font-weight: 300;
    font-size: 30px;
}

.divCPorClienteVendas, .divCPorPeriodoVendas, .divCPorEntregadorVendas, .divCPorProdutoVendas{
    display: none;
}

.content{display:flex; margin: auto;}

.rTable{width: 100%; text-align: center;}
    .rTable th , .rTable td{padding: 7px 0;}

@media screen and (max-width: 859px){
    .content{width: 94%; margin-top: 50px;}

    .rTable thead{display:none;}
    .rTable tbody td{
        display: flex; 
        flex-direction: row;
        justify-content: center;
        padding: 10px;
    }
    .rTable tbody td span{
        display: block !important;
        font-weight: bold;
    }
}

@media only screen and (min-width: 860px){
    .content{width:100%;}
    .rTable tbody tr td:nth-child(1){width:15%;}
    .rTable tbody tr td:nth-child(2){width:15%;}
    .rTable tbody tr td:nth-child(3){width:12%;}
    .rTable tbody tr td:nth-child(4){width:12%;}
    .rTable tbody tr td:nth-child(5){width:15%;}
    .rTable tbody tr td:nth-child(6){width:15%;}
    .rTable tbody tr td:nth-child(7){width:15%;}
}

#msgExitoCaixa, #msgExitoCliente, #msgExitoProduto, #msgExitoEntregador, #msgExitoVendaBalcao, #msgExitoVendaEntrega, #msgErroCliente, #msgErroProduto, #msgErroEntregador,  #msgErroCaixa, #msgErroVendaBalcao, #msgErroVendaEntrega, #msgNaoExistemProdutosEntrega, #msgNaoExistemProdutosBalcao, #erroNomeCaixa, #erroNomeCliente, #erroNomeProduto, #erroNomeEntregador, #erroLogin, #erroSenha, #erroTelefoneCliente, #erroTelefoneEntregador, #erroDataNasc, #erroCpfCliente, #erroCpfEntregador, #erroEndereco, #erroPreco, #erroDescricao, #msgEscolhaPeriodo, #msgExitoStatus, .rTable tbody td span{
    display: none;
}


#endereco, #descricao{
    resize: none;
}

.divBtSubmit{
    text-align: end;
}

.divBtSubmit > button{
    width: 80px;
}
