.navbar{
    border-bottom: 1px solid rgb(238, 238, 238);
}

#logo{
    width: 200px;
    height: 80px;
}

.nav-link{
    margin: 0 20px 0 0;
    font-size: 17px;
}

#bemvindo > h2{
    font-weight: 300;
    font-size: 30px;
}

#bemvindo > p{
    font-weight: 300;
    font-size: medium;
}

