:root{ /*root -> global*/
    --navbar:  #372C2B;
    --branco: white;
    --laranja: #F26513;
    --laranja2:#B94312;
    --marrom:  #732F20;
    --gold: #CFB53B;
    --footer: #000000;
    --fontH3size: 1.5em;
    --fontPsize: 1.2em;
    

    /* variável começa com '--' */
}

