*{
    margin: 0;
    padding: 0;
}

.navbar{
    padding: 2px;
    background-color: white !important;
    text-align: center;
}

#navbarNav{
    margin-left: 200px;
}

.nav-item{
    margin-right: 20px;
}

.nav-item:hover{
    background-color: rgb(12, 49, 92);
    border-radius: 5px;
}

.nav-link{
    color: rgb(15, 42, 127) !important;
    text-decoration: none;
}

.nav-link:hover{
    color: rgb(239, 240, 248) !important;
}

.navbar-brand > img{
    width: 100px;
    height: 80px;
    display: block;
    margin-left: 200px;
}

.navbar-brand:hover{
    opacity: 0.6;
    cursor: pointer;
}

.container{
    text-align: center !important;
    align-items: center;
}

.input{
    margin: 15px auto;
    display: block;
    padding: 5px;
}

.bt{
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 10px;
    color: rgb(255, 255, 255);
    background: rgb(211, 84, 0);
    border: 0px solid rgb(211, 84, 0);
    cursor: pointer;
    float: none;
    display: block;
    box-sizing: border-box;
    margin: 0px auto;
}


.footer{
    padding: 25px;
    background-color: #1B365D;
}

.footer-brand{
    color: white;
    font-family: sans-serif !important;
    text-align: center;
}