@import url('variaveis.css');

/*
("cell.css")(max-width: 720px);
("ipad.css")(min-width: 721px);
("desk.css")(min-width: 1024px);
*/

@media screen and (min-width: 1024px){ /* desktop */
    
    *{
        margin: 0;
        padding: 0;
    }

    .header{
        background-color: white;
        width: 100%;
        height: 130px;
        padding: 40px !important;
    }

    #logo{
        text-decoration: none;
        outline: 0;
        color: black;
        text-align: center;
    }

    #logo_titulo{
        font-size: var(--logo-titulo-fontsize);
        display: block;
        font-family: var(--fontfamily);
        font-weight: 600;
        margin-bottom: -10px;
        letter-spacing: 2px;
    }

    #logo_subtitulo{
        font-size: var(--logo-subtitulo-fontsize);
        font-family: var(--fontfamily);
        letter-spacing: 0.6px;
    }

    #reservar{
        border-radius: 0;
        background-color: rgb(227, 227, 228);
        text-align: center;
        height: 50px;
        width: 140px;
        border: 1px solid white;
        border-radius: 30px;
        letter-spacing: 2px;
        font-size: var(--reservar-fontsize);
        font-family: var(--reservar-fontfamily);
    }

    #reservar:hover{
        transition: 0.9s;
        opacity: 0.7;
        background-image: linear-gradient(to bottom, rgb(227, 227, 228), rgb(180, 180, 182));
    }

    .navbar{
        border-top: .1rem solid #d9d9d9;
        border-bottom: .1rem solid #d9d9d9;
    }

    .navbar-bg-color{
        background-color: var(--nav-bg-color);
    }

    .navbar-nav{
        margin: auto;
    }

    .nav-link{
        color: black !important;
        padding: 0;
        margin-right: 40px;
        letter-spacing: 3px !important;
        font-family: var(--fontfamily);
        font-size: var(--nav-link-fontsize);
    }

    .nav-link:hover{
        font-weight: bold;
    }


    .footer{
        margin: auto;
        border-top: 1px solid rgb(200, 198, 198);
        margin-top: 150px;
        padding: 45px;
    }

    .direitos{
        text-align: left;
    }

    .direitos > p{
        font-weight: 100;
        font-size: 10pt;
        margin-top: 40px;
    }

    .fale-conosco{
        padding-top: 20px;
    }

    .fale-conosco > h3{
        margin-left: 180px;
        text-align: center;
        font-size: 12pt;
        font-family: var(--fontfamily);
        font-weight: 400;
        text-transform: uppercase;
        text-align: left;
        letter-spacing: 2px;
    }

    .fale-conosco-texto{
        margin-top: 15px;
        margin-left: 180px;
        text-align: left;
        font-size: 10pt;
        font-family: var(--fontfamily);
        font-weight: 100;
    }

    .fale-conosco-texto > p > b{
        font-size: 11pt;
    }
}