@import url('variaveis.css');

/*
("cell.css")(max-width: 767px);
("ipad.css")(min-width: 768px) and (max-width: 1023px);
("desk.css")(min-width: 1024px);
*/

@media screen and (min-width: 1024px){ /* desktop */
   
    
    *{
        margin: 0;
        padding: 0;
    }

    .header{
        background-color: white;
        width: 100%;
        height: 130px;
        padding: 40px !important;
    }

    #logo{
        text-decoration: none;
        outline: 0;
        color: black;
        text-align: center;
    }

    #logo_titulo{
        font-size: var(--logo-titulo-fontsize);
        display: block;
        font-family: var(--fontfamily);
        font-weight: 600;
        margin-bottom: -10px;
        letter-spacing: 2px;
    }

    #logo_subtitulo{
        font-size: var(--logo-subtitulo-fontsize);
        font-family: var(--fontfamily);
        letter-spacing: 0.6px;
    }

    #reservar{
        border-radius: 0;
        background-color: rgb(227, 227, 228);
        text-align: center;
        height: 50px;
        width: 140px;
        border: 1px solid white;
        border-radius: 30px;
        letter-spacing: 2px;
        font-size: var(--reservar-fontsize);
        font-family: var(--reservar-fontfamily);
    }

    #reservar:hover{
        transition: 0.9s;
        opacity: 0.7;
        background-image: linear-gradient(to bottom, rgb(227, 227, 228), rgb(180, 180, 182));
    }

    .navbar{
        border-top: .1rem solid #d9d9d9;
        border-bottom: .1rem solid #d9d9d9;
    }

    .navbar-bg-color{
        background-color: var(--nav-bg-color);
    }

    .navbar-nav{
        margin: auto;
    }

    .nav-link{
        color: black !important;
        padding: 0;
        margin-right: 40px;
        letter-spacing: 3px !important;
        font-family: var(--fontfamily);
        font-size: var(--nav-link-fontsize);
    }

    .nav-link:hover{
        font-weight: bold;
    }

    #myCarousel .carousel-indicators {
        position: static;
        margin-top:20px;
    }
      
    #myCarousel .carousel-indicators > li {
        width: 140px;
    }
      
    #myCarousel .carousel-indicators li img {
        display: block;
    }

    .carousel-item{
        height: 600px !important;
    }

    .sobre{
        width: 1000px !important;
        height: 500px;
        margin: 200px 0 100px 0;
        box-shadow: 2px 2px 50px whitesmoke;
        padding: 10px;
    }

    .sobre-texto{
       margin: auto;
       width: 70%; 
       height: 350px;
       margin-top: 70px;
       padding: 30px;
       border: 2px solid orange;
    }
    
    .sobre-texto > h2{
        text-align: center;
        font-family: var(--fontfamily);
        font-weight: 100;
        font-size: 20pt;
        width: 60%;
        margin: auto;
    }

    .sobre-texto > h3{
        text-align: center;
        font-family: var(--fontfamily);
        font-weight: 100;
        font-size: 14pt;
        width: 60%;
        margin: auto;
        margin-top: 30px;
    }

    .sobre-texto > p{
        text-align: center;
        font-family: var(--fontfamily);
        font-weight: 100;
        font-size: 12pt;
        width: 100%;
        margin: auto;
        margin-top: 30px;
    }

    .cell{
        display: none;
    }

    .bloco-acomodacoes{
        width: 1100px !important;
        margin-top: 120px;
        margin-right: 50px;
        padding: 50px !important;
    }

    .bloco-acomodacoes-img{
        position: absolute;
    }

    .bloco-acomodacoes-img > img{
        width: 700px;
        height: 500px;
        border-radius: 20px;
    }

    .bloco-acomodacoes-texto{
        position: relative;
        width: 400px;
        height: 350px;
        border-radius: 20px;
        margin: 30px 100px 0 530px;
        background-color: white;
        padding: 40px;
        border: 1px solid white;
        box-shadow: 2px 2px 5px rgb(127, 101, 83);
    }

    .bloco-acomodacoes-texto > h2{
        text-align: center;
        font-family: sans-serif;
        font-weight: 100;
        letter-spacing: 2px;
        font-size: 14pt;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .bloco-acomodacoes-texto > p{
        font-family: sans-serif;
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 10pt;
    }

    .bloco-acomodacoes-texto > a{
        color: black;
        font-size: 11pt;
        text-decoration: underline;
    }

    .bloco-acomodacoes-texto > a:hover{
        transition: 0.8s;
        color: black;
        opacity: 0.5;
    }

    .bloco-spa{
        margin-top: 200px;
    }

    .bloco-spa-header{
        text-align: center;
        margin-bottom: 50px;
    }

    .bloco-spa-header > h2{
        letter-spacing: 2px;
        font-family: var(--fontfamily);
        font-weight: 100;
        margin-bottom: 20px;
        font-size: 24pt;
    }

    .bloco-spa-header > p{
        font-family: var(--fontfamily);
        font-weight: 100;
        margin-bottom: 20px;
        font-size: 10pt;
        letter-spacing: 1px;
    }

    .bloco-spa-content{
        position: relative;
    }

    .bloco-spa-back{
        border: 2px solid orange;
        position: absolute;
        top: 10%;
        width: 100%;
        height: 78%;
    }

    .bloco-spa-dentro{
        position: relative;
        width: 100%;
    }

    .bloco-spa-img{
        margin: 0 0 0 100px;
    }

    .bloco-spa-img > img{
        width: 400px;
        height: 500px;
    }

    .bloco-spa-texto{
        margin: auto;
        width: 100%;
        padding-left: 50px;
    }

    .spa-texto > h2{
        text-align: left;
        font-family: var(--fontfamily);
        font-weight: 100;
        font-size: 17pt;
    }

    .spa-texto > p{
        text-align: left;
        font-family: var(--fontfamily);
        width: 80%;
        font-weight: 100;
        font-size: 11pt;
        margin: 30px 0 0 0;
    }

    .spa-texto > a{
        color: black;
        font-size: 12pt;
        text-decoration: underline;
    }

    .spa-texto > a:hover{
        transition: 0.8s;
        color: black;
        opacity: 0.5;
    }

    .footer{
        margin: auto;
        border-top: 1px solid rgb(200, 198, 198);
        margin-top: 150px;
        padding: 45px;
    }

    .direitos{
        text-align: left;
    }

    .direitos > p{
        font-weight: 100;
        font-size: 10pt;
        margin-top: 40px;
        font-family: var(--fontfamily);
    }

    .fale-conosco{
        padding-top: 20px;
    }

    .fale-conosco > h3{
        margin-left: 220px;
        text-align: center;
        font-size: 12pt;
        font-family: var(--fontfamily);
        font-weight: 400;
        text-transform: uppercase;
        text-align: left;
        letter-spacing: 2px;
    }

    .fale-conosco-texto{
        margin-top: 15px;
        margin-left: 220px;
        text-align: left;
        font-size: 10pt;
        font-family: var(--fontfamily);
        font-weight: 100;
    }

    .fale-conosco-texto > p > b{
        font-size: 11pt;
        font-weight: bold;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){ /* ipad */
    
    *{
        margin: 0;
        padding: 0;
    }

    .header{
        background-color: white;
        width: 100%;
        height: 130px;
        padding: 40px !important;
    }

    #logo{
        text-decoration: none;
        outline: 0;
        color: black;
        text-align: center;
    }

    #logo_titulo{
        font-size: var(--logo-titulo-fontsize);
        display: block;
        font-family: var(--fontfamily);
        font-weight: 600;
        margin-bottom: -10px;
        letter-spacing: 2px;
    }

    #logo_subtitulo{
        font-size: var(--logo-subtitulo-fontsize);
        font-family: var(--fontfamily);
        letter-spacing: 0.6px;
    }

    #reservar{
        border-radius: 0;
        background-color: rgb(227, 227, 228);
        text-align: center;
        height: 50px;
        width: 140px;
        border: 1px solid white;
        border-radius: 30px;
        letter-spacing: 2px;
        font-size: var(--reservar-fontsize);
        font-family: var(--reservar-fontfamily);
    }

    #reservar:hover{
        transition: 0.9s;
        opacity: 0.7;
        background-image: linear-gradient(to bottom, rgb(227, 227, 228), rgb(180, 180, 182));
    }

    .navbar-toggler{
        margin-bottom: 5px;
    }

    .navbar{
        border-top: .1rem solid #d9d9d9;
        border-bottom: .1rem solid #d9d9d9;
    }

    .navbar-bg-color{
        background-color: var(--nav-bg-color);
    }

    .navbar-nav{
        margin: auto;
    }

    .nav-link{
        color: black !important;
        padding: 0;
        margin-right: 40px;
        letter-spacing: 3px !important;
        font-family: var(--fontfamily);
        font-size: var(--nav-link-fontsize);
    }

    .nav-link:hover{
        font-weight: bold;
    }

    #myCarousel .carousel-indicators {
        position: static;
        margin-top: 10px;
    }
      
    #myCarousel .carousel-indicators > li {
        width: 140px;
    }
      
    #myCarousel .carousel-indicators li img {
        display: block;
    }

    .carousel-item{
        height: 400px !important;
    }

    .sobre{
        width: 1000px !important;
        height: 500px;
        margin: 200px 0 100px 0;
        box-shadow: 2px 2px 50px whitesmoke;
        padding: 10px;
    }

    .sobre-texto{
       margin: auto;
       width: 80%; 
       margin-top: 70px;
       padding: 30px;
       border: 2px solid orange;
    }
    
    .sobre-texto > h2{
        text-align: center;
        font-family: var(--fontfamily);
        font-weight: 100;
        font-size: 18pt;
        width: 60%;
        margin: auto;
    }

    .sobre-texto > h3{
        text-align: center;
        font-family: var(--fontfamily);
        font-weight: 100;
        font-size: 13pt;
        width: 60%;
        margin: auto;
        margin-top: 30px;
    }

    .sobre-texto > p{
        text-align: center;
        font-family: var(--fontfamily);
        font-weight: 100;
        font-size: 11pt;
        width: 100%;
        margin: auto;
        margin-top: 30px;
    }

    .cell{
        display: none;
    }

    .bloco-acomodacoes{
        width: 700px !important;
        margin-top: 250px;
        margin-right: 100px;
        padding: 50px !important;
    }

    .bloco-acomodacoes-img{
        position: absolute;
    }

    .bloco-acomodacoes-img > img{
        width: 580px;
        height: 400px;
        border-radius: 20px;
    }

    .bloco-acomodacoes-texto{
        position: relative;
        width: 500px;
        height: 260px;
        border-radius: 20px;
        margin: -180px 0px 0px 50px;
        background-color: white;
        padding: 30px;
        border: 1px solid white;
        box-shadow: 2px 2px 5px rgb(127, 101, 83);
    }

    .bloco-acomodacoes-texto > h2{
        text-align: center;
        font-family: sans-serif;
        font-weight: 100;
        letter-spacing: 2px;
        font-size: 12pt;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    .bloco-acomodacoes-texto > p{
        font-family: sans-serif;
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 9.5pt;
    }

    .bloco-acomodacoes-texto > a{
        color: black;
        font-size: 9.5pt;
        text-decoration: underline;
    }

    .bloco-acomodacoes-texto > a:hover{
        transition: 0.8s;
        color: black;
        opacity: 0.5;
    }

    .bloco-spa{
        margin-top: 350px;
    }

    .bloco-spa-header{
        text-align: center;
        margin-bottom: 50px;
    }

    .bloco-spa-header > h2{
        letter-spacing: 2px;
        font-family: var(--fontfamily);
        font-weight: 100;
        margin-bottom: 20px;
        font-size: 22pt;
    }

    .bloco-spa-header > p{
        font-family: var(--fontfamily);
        font-weight: 100;
        margin-bottom: 20px;
        font-size: 9pt;
        letter-spacing: 1px;
    }

    .bloco-spa-content{
        position: relative;
    }

    .bloco-spa-back{
        border: 2px solid orange;
        position: absolute;
        top: 10%;
        width: 100%;
        height: 78%;
    }

    .bloco-spa-dentro{
        position: relative;
        width: 100%;
    }

    .bloco-spa-img{
        margin: 0 0 0 25px;
    }

    .bloco-spa-img > img{
        width: 300px;
        height: 400px;
    }

    .bloco-spa-texto{
        margin: auto;
        width: 100%;
        padding-left: 50px;
    }

    .spa-texto > h2{
        text-align: left;
        font-family: var(--fontfamily);
        font-weight: 100;
        font-size: 14pt;
    }

    .spa-texto > p{
        text-align: left;
        font-family: var(--fontfamily);
        width: 80%;
        font-weight: 100;
        font-size: 11pt;
        margin: 30px 0 0 0;
    }

    .spa-texto > a{
        color: black;
        font-size: 10pt;
        margin-top: 30px;
        text-decoration: underline;
    }

    .spa-texto > a:hover{
        transition: 0.8s;
        color: black;
        opacity: 0.5;
    }

    .footer{
        margin: auto;
        border-top: 1px solid rgb(200, 198, 198);
        margin-top: 150px;
        padding: 45px;
    }

    .direitos{
        text-align: left;
    }

    .direitos > p{
        font-weight: 100;
        font-size: 10pt;
        margin-top: 40px;
        font-family: var(--fontfamily);
    }

    .fale-conosco{
        padding-top: 20px;
    }

    .fale-conosco > h3{
        margin-left: 120px;
        text-align: center;
        font-size: 10pt;
        font-family: var(--fontfamily);
        font-weight: 400;
        text-transform: uppercase;
        text-align: left;
        letter-spacing: 2px;
    }

    .fale-conosco-texto{
        margin-top: 15px;
        margin-left: 120px;
        text-align: left;
        font-size: 9pt;
        font-family: var(--fontfamily);
        font-weight: 100;
        width: 80%;
    }

    .fale-conosco-texto > p > b{
        font-size: 10pt;
        font-weight: bold;
    }
}

@media screen and (max-width: 767px){ /* cell */
    
    *{
        margin: 0;
        padding: 0;
    }

    .header{
        background-color: white;
        width: 100%;
        height: 100px;
        padding: 30px !important;
    }

    #logo{
        text-decoration: none;
        outline: 0;
        color: black;
        text-align: center;
    }

    #logo_titulo{
        font-size: 13pt;
        display: block;
        font-family: var(--fontfamily);
        font-weight: 600;
        margin-bottom: -10px;
        letter-spacing: 2px;
    }

    #logo_subtitulo{
        font-size: 7pt;
        font-family: var(--fontfamily);
        letter-spacing: 0.6px;
    }

    #reservar{
        border-radius: 0;
        background-color: rgb(227, 227, 228);
        text-align: center;
        height: 40px;
        width: 120px;
        border: 1px solid white;
        border-radius: 30px;
        letter-spacing: 2px;
        font-size: 8pt;
        font-family: var(--reservar-fontfamily);
    }

    #reservar:hover{
        transition: 0.9s;
        opacity: 0.7;
        background-image: linear-gradient(to bottom, rgb(227, 227, 228), rgb(180, 180, 182));
    }

    .navbar-toggler{
        margin-bottom: 5px;
    }

    .navbar{
        border-top: .1rem solid #d9d9d9;
        border-bottom: .1rem solid #d9d9d9;
    }

    .navbar-bg-color{
        background-color: var(--nav-bg-color);
    }

    .navbar-nav{
        margin: auto;
    }

    .nav-link{
        color: black !important;
        padding: 0;
        margin-right: 40px;
        letter-spacing: 3px !important;
        font-family: var(--fontfamily);
        font-size: var(--nav-link-fontsize);
    }

    .nav-link:hover{
        font-weight: bold;
    }

    #myCarousel .carousel-indicators {
        position: static;
        margin-top: 10px;
    }
      
    #myCarousel .carousel-indicators > li {
        width: 140px;
    }
      
    #myCarousel .carousel-indicators li img {
        display: block;
    }

    .carousel-item{
        height: 200px !important;
    }

    .sobre{
        margin: 100px 0 100px 0;
        box-shadow: 2px 2px 50px whitesmoke;
        padding: 5px;
    }

    .sobre-texto{
       margin: auto;
       width: 90%; 
       margin-top: 30px;
       padding: 20px;
       border: 2px solid orange;
    }
    
    .sobre-texto > h2{
        text-align: center;
        font-family: var(--fontfamily);
        font-weight: 100;
        font-size: 14pt;
        width: 90%;
        margin: auto;
        margin-top: 10px;
        letter-spacing: 2px;
    }

    .sobre-texto > h3{
        text-align: center;
        font-family: var(--fontfamily);
        font-weight: 100;
        font-size: 11pt;
        width: 90%;
        margin: auto;
        margin-top:  30px;
        letter-spacing: 2px;
    }

    .sobre-texto > p{
        display: none;
    }

    .off-cell{
        display: none;
    }

    .bloco-acomodacoes{
        margin: auto;
        margin-top: 120px;
    }

    .bloco-acomodacoes > h2{
        text-align: center;
        font-family: var(--fontfamily);
        font-weight: 100;
        letter-spacing: 2px;
        font-size: 13pt;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    .bloco-acomodacoes-img{
        margin-right: 10px;
    }

    .bloco-acomodacoes-img > img{
        width: 100%;
    }

    .bloco-acomodacoes-texto{
        width: 100%;
        height: 250px;
        background-color: white;
        padding: 30px 10px 0 10px;
        text-align: center;
    }

    .bloco-acomodacoes-texto > p{
        font-family: var(--fontfamily);
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 11pt;
        text-align: left;
    }

    .bloco-acomodacoes-texto > a{
        text-align: center;
        color: black;
        font-family: var(--fontfamily);
        font-size: 12pt;
        text-decoration: underline;
    }

    .bloco-acomodacoes-texto > a:hover{
        transition: 0.8s;
        color: black;
        opacity: 0.5;
    }

    .bloco-spa{
        margin-top: 150px;
    }

    .bloco-spa-header{
        text-align: center;
        margin-bottom: 50px;
    }

    .bloco-spa-header > h2{
        letter-spacing: 2px;
        font-family: var(--fontfamily);
        font-weight: 100;
        margin-bottom: 20px;
        font-size: 22pt;
    }

    .bloco-spa-header > p{
        font-family: var(--fontfamily);
        font-weight: 100;
        margin-bottom: 20px;
        font-size: 9pt;
        letter-spacing: 1px;
    }

    .bloco-spa-content{
        position: relative;
    }

    .bloco-spa-back{
        border: 2px solid orange;
        position: absolute;
        top: 10%;
        width: 100%;
        height: 50%;
    }

    .bloco-spa-dentro{
        position: relative;
        width: 100%;
    }

    .bloco-spa-img > img{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;    
    }

    .spa-texto{
        text-align: center;
        margin-top: 30px;
        width: 100%;
    }

    .spa-texto > h2{
        text-align: center;
        font-family: var(--fontfamily);
        font-weight: 100;
        font-size: 18pt;
    }

    .spa-texto > p{
        text-align: left;
        font-family: var(--fontfamily);
        width: 100%;
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 11pt;
        padding: 5px;
        margin: 30px 0 0 0px;
    }

    .spa-texto > a{
        font-family: var(--fontfamily);
        margin-top: 10px;
        text-align: center;
        color: black;
        font-size: 12pt;
        text-decoration: underline;
    }

    .spa-texto > a:hover{
        transition: 0.8s;
        color: black;
        opacity: 0.5;
    }

    .footer{
        margin: auto;
        border-top: 1px solid rgb(200, 198, 198);
        margin-top: 100px;
        padding: 20px;
    }

    .direitos{
        text-align: center;
    }

    .direitos > p{
        font-weight: 100;
        font-size: 10pt;
        margin-top: 40px;
        font-family: var(--fontfamily);
    }

    .fale-conosco{
        padding-top: 20px;
        width: 40%;
        margin: auto;
    }

    .fale-conosco > h3{
        text-align: center;
        font-size: 10pt;
        font-family: var(--fontfamily);
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .fale-conosco-texto{
        margin-top: 15px;
        text-align: left;
        font-size: 8pt;
        font-family: var(--fontfamily);
        font-weight: 100;
    }

    .fale-conosco-texto > p > b{
        font-size: 9pt;
        font-weight: bold;
        display: block;
    }
}