@import url('variaveis.css');

/*
(max-width: 767px);
(min-width: 768px) and (max-width: 1023px);
(min-width: 1024px);
*/

@media screen and (min-width: 1024px){ /* desktop */
   
    
    *{
        margin: 0;
        padding: 0;
    }

    .header{
        background-color: white;
        width: 100%;
        height: 130px;
        padding: 40px !important;
    }

    #logo{
        text-decoration: none;
        outline: 0;
        color: black;
        text-align: center;
    }

    #logo-titulo{
        font-size: var(--logo-titulo-fontsize);
        display: block;
        font-family: var(--fontfamily);
        font-weight: 600;
        margin-bottom: -10px;
        letter-spacing: 2px;
    }

    #logo-subtitulo{
        font-size: var(--logo-subtitulo-fontsize);
        font-family: var(--fontfamily);
        letter-spacing: 0.6px;
    }

    #reservar{
        border-radius: 0;
        background-color: rgb(227, 227, 228);
        text-align: center;
        height: 50px;
        width: 140px;
        border: 1px solid white;
        border-radius: 30px;
        letter-spacing: 2px;
        font-size: var(--reservar-fontsize);
        font-family: var(--reservar-fontfamily);
    }

    #reservar:hover{
        transition: 0.9s;
        opacity: 0.7;
        background-image: linear-gradient(to bottom, rgb(227, 227, 228), rgb(180, 180, 182));
    }

    .navbar{
        border-top: .1rem solid #d9d9d9;
        border-bottom: .1rem solid #d9d9d9;
    }

    .navbar-bg-color{
        background-color: var(--nav-bg-color);
    }

    .navbar-nav{
        margin: auto;
    }

    .nav-link{
        color: black !important;
        padding: 0;
        margin-right: 40px;
        letter-spacing: 3px !important;
        font-family: var(--fontfamily);
        font-size: var(--nav-link-fontsize);
    }

    .nav-link:hover{
        font-weight: bold;
    }

    .back-img{
        background-image: url("../img/piscina.jpg");
        height: 450px;
        background-size: cover;
        background-position: center center;
        color: #fff;
    }

    .pag-titulo{
        width: 100%;
        padding: 180px;
        text-align: center;
    }

    .pag-titulo > h2{
        font-family: var(--fontfamily);
        letter-spacing: 2px;
    }

    .texto-principal{
        margin-top: 100px;
    }

    .texto-principal > h2{
        font-family: var(--fontfamily);
        font-size: 15pt;
        margin: auto;
        text-align: center;
        letter-spacing: 2px;
    }

    .texto-principal > p{
        width: 60%;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        font-size: 9pt;
        letter-spacing: 2px;
        font-family: var(--fontfamily);
    }

    .bloco{
        width: 100%;
        height: 500px;
        margin: 100px 0 0 0;
    }

    .bloco-img{
        width: 100%;
    }

    .bloco-img > img{
        width: 100%;
        height: 100%;
    }

    .bloco-texto{
        width: 100%;
        padding: 80px;
        margin: auto;
    }

    .bloco-texto > h2{
        font-family: var(--fontfamily);
        font-size: 16pt;
        letter-spacing: 2px;
    }

    .bloco-texto > p{
        text-align: left;
        width: 100%;
        margin-top: 30px;
        font-size: 10pt;
        letter-spacing: 2px;
        font-family: var(--fontfamily);
    }

    .footer{
        margin: auto;
        border-top: 1px solid rgb(200, 198, 198);
        margin-top: 150px;
        padding: 45px;
    }

    .direitos{
        text-align: left;
    }

    .direitos > p{
        font-weight: 100;
        font-size: 10pt;
        margin-top: 30px;
        font-family: var(--fontfamily);
    }

    .fale-conosco{
        padding-top: 20px;
    }

    .fale-conosco > h3{
        margin-left: 220px;
        text-align: center;
        font-size: 12pt;
        font-family: var(--fontfamily);
        font-weight: 400;
        text-transform: uppercase;
        text-align: left;
        letter-spacing: 2px;
    }

    .fale-conosco-texto{
        margin-top: 15px;
        margin-left: 220px;
        text-align: left;
        font-size: 9pt;
        font-family: var(--fontfamily);
        font-weight: 100;
    }

    .fale-conosco-texto > p > b{
        font-size: 11pt;
        font-weight: bold;
    }

    .cell{
        display: none;
    }

    .off-desk{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){ /* ipad */
    
    *{
        margin: 0;
        padding: 0;
    }

    .header{
        background-color: white;
        width: 100%;
        height: 130px;
        padding: 40px !important;
    }

    #logo{
        text-decoration: none;
        outline: 0;
        color: black;
        text-align: center;
    }

    #logo-titulo{
        font-size: var(--logo-titulo-fontsize);
        display: block;
        font-family: var(--fontfamily);
        font-weight: 600;
        margin-bottom: -10px;
        letter-spacing: 2px;
    }

    #logo-subtitulo{
        font-size: var(--logo-subtitulo-fontsize);
        font-family: var(--fontfamily);
        letter-spacing: 0.6px;
    }

    #reservar{
        border-radius: 0;
        background-color: rgb(227, 227, 228);
        text-align: center;
        height: 50px;
        width: 140px;
        border: 1px solid white;
        border-radius: 30px;
        letter-spacing: 2px;
        font-size: var(--reservar-fontsize);
        font-family: var(--reservar-fontfamily);
    }

    #reservar:hover{
        transition: 0.9s;
        opacity: 0.7;
        background-image: linear-gradient(to bottom, rgb(227, 227, 228), rgb(180, 180, 182));
    }

    .navbar-toggler{
        margin-bottom: 5px;
    }

    .navbar{
        border-top: .1rem solid #d9d9d9;
        border-bottom: .1rem solid #d9d9d9;
    }

    .navbar-bg-color{
        background-color: var(--nav-bg-color);
    }

    .navbar-nav{
        margin: auto;
    }

    .nav-link{
        color: black !important;
        padding: 0;
        margin-right: 40px;
        letter-spacing: 3px !important;
        font-family: var(--fontfamily);
        font-size: var(--nav-link-fontsize);
    }

    .nav-link:hover{
        font-weight: bold;
    }

    .back-img{
        background-image: url("../img/piscina.jpg");
        height: 350px;
        background-size: cover;
        background-position: center center;
        color: #fff;
    }

    .pag-titulo{
        width: 100%;
        padding: 150px;
        text-align: center;
    }

    .pag-titulo > h2{
        font-family: var(--fontfamily);
        letter-spacing: 2px;
    }

    .texto-principal{
        margin-top: 100px;
    }

    .texto-principal > h2{
        font-family: var(--fontfamily);
        font-size: 15pt;
        margin: auto;
        text-align: center;
        letter-spacing: 2px;
    }

    .texto-principal > p{
        width: 80%;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        font-size: 9pt;
        letter-spacing: 2px;
        font-family: var(--fontfamily);
    }

    .bloco{
        margin: 100px 0 0 0;
        padding: 30px;
    }

    .bloco{
        width: 100%;
        height: 300px;
        margin: 100px 0 0 0;
    }

    .bloco-img{
        width: 100%;
    }

    .bloco-img > img{
        width: 100%;
        height: 100%;
    }

    .off-cell .bloco-texto{
        margin-right: 30px;
    }

    .bloco-texto{
        width: 100%;
        padding: 30px;
        margin: 0 auto;
    }

    .bloco-texto > h2{
        font-family: var(--fontfamily);
        font-size: 13pt;
        letter-spacing: 2px;
    }

    .bloco-texto > p{
        text-align: left;
        width: 110%;
        margin-top: 20px;
        font-size: 9pt;
        letter-spacing: 2px;
        font-family: var(--fontfamily);
    }

    .footer{
        margin: auto;
        border-top: 1px solid rgb(200, 198, 198);
        margin-top: 150px;
        padding: 45px;
    }

    .direitos{
        text-align: left;
    }

    .direitos > p{
        font-weight: 100;
        font-size: 10pt;
        margin-top: 30px;
        font-family: var(--fontfamily);
    }

    .fale-conosco{
        padding-top: 20px;
    }

    .fale-conosco > h3{
        margin-left: 120px;
        text-align: center;
        font-size: 10pt;
        font-family: var(--fontfamily);
        font-weight: 400;
        text-transform: uppercase;
        text-align: left;
        letter-spacing: 2px;
    }

    .fale-conosco-texto{
        margin-top: 15px;
        margin-left: 120px;
        text-align: left;
        font-size: 9pt;
        font-family: var(--fontfamily);
        font-weight: 100;
        width: 80%;
    }

    .fale-conosco-texto > p > b{
        font-size: 10pt;
        font-weight: bold;
    }

    .cell{
        display: none;
    }

    .desk{
        display: none;
    }

}

@media screen and (max-width: 767px){ /* cell */
    
    *{
        margin: 0;
        padding: 0;
    }

    .header{
        background-color: white;
        width: 100%;
        height: 100px;
        padding: 30px !important;
    }

    #logo{
        text-decoration: none;
        outline: 0;
        color: black;
        text-align: center;
    }

    #logo-titulo{
        font-size: 13pt;
        display: block;
        font-family: var(--fontfamily);
        font-weight: 600;
        margin-bottom: -10px;
        letter-spacing: 2px;
    }

    #logo-subtitulo{
        font-size: 7pt;
        font-family: var(--fontfamily);
        letter-spacing: 0.6px;
    }

    #reservar{
        border-radius: 0;
        background-color: rgb(227, 227, 228);
        text-align: center;
        height: 40px;
        width: 120px;
        border: 1px solid white;
        border-radius: 30px;
        letter-spacing: 2px;
        font-size: 8pt;
        font-family: var(--reservar-fontfamily);
    }

    #reservar:hover{
        transition: 0.9s;
        opacity: 0.7;
        background-image: linear-gradient(to bottom, rgb(227, 227, 228), rgb(180, 180, 182));
    }

    .navbar-toggler{
        margin-bottom: 5px;
    }

    .navbar{
        border-top: .1rem solid #d9d9d9;
        border-bottom: .1rem solid #d9d9d9;
    }

    .navbar-bg-color{
        background-color: var(--nav-bg-color);
    }

    .navbar-nav{
        margin: auto;
    }

    .nav-link{
        color: black !important;
        padding: 0;
        margin-right: 40px;
        letter-spacing: 3px !important;
        font-family: var(--fontfamily);
        font-size: var(--nav-link-fontsize);
    }

    .nav-link:hover{
        font-weight: bold;
    }

    .back-img{
        background-image: url("../img/piscina.jpg");
        height: 300px;
        background-size: cover;
        background-position: center center;
        color: #fff;
    }

    .pag-titulo{
        width: 100%;
        padding: 130px 0 0 0;
        text-align: center;
    }

    .pag-titulo > h2{
        font-family: var(--fontfamily);
        letter-spacing: 2px;
    }

    .texto-principal{
        margin-top: 80px;
    }

    .texto-principal > h2{
        font-family: var(--fontfamily);
        font-size: 13pt;
        margin: auto;
        text-align: center;
        letter-spacing: 2px;
    }

    .texto-principal > p{
        width: 90%;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        font-size: 9pt;
        letter-spacing: 2px;
        font-family: var(--fontfamily);
    }

    .bloco{
        width: 100%;
        height: 100%;
        margin: 90px 0 0 0;
    }

    .bloco-img{
        width: 100%;
        height: 300px;
    }

    .bloco-img > img{
        width: 100%;
        height: 100%;
    }

    .bloco-texto{
        width: 90%;
        margin: 30px auto;
    }

    .bloco-texto > h2{
        font-family: var(--fontfamily);
        font-size: 13pt;
        letter-spacing: 2px;
        text-align: center;

    }

    .bloco-texto > p{
        text-align: center;
        width: 100%;
        margin-top: 20px;
        font-size: 9pt;
        letter-spacing: 2px;
        font-family: var(--fontfamily);
    }

    .footer{
        margin: auto;
        border-top: 1px solid rgb(200, 198, 198);
        margin-top: 100px;
        padding: 20px;
    }

    .direitos{
        text-align: center;
    }

    .direitos > p{
        font-weight: 100;
        font-size: 10pt;
        margin-top: 40px;
        font-family: var(--fontfamily);
    }

    .fale-conosco{
        padding-top: 20px;
        width: 40%;
        margin: auto;
    }

    .fale-conosco > h3{
        text-align: center;
        font-size: 10pt;
        font-family: var(--fontfamily);
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .fale-conosco-texto{
        margin-top: 15px;
        text-align: left;
        font-size: 8pt;
        font-family: var(--fontfamily);
        font-weight: 100;
    }

    .fale-conosco-texto > p > b{
        font-size: 9pt;
        font-weight: bold;
        display: block;
    }

    .d-flex{
        display: none;
    }

    .off-cell{
        display: none;
    }

    .desk{
        display: none;
    }

}

