:root{
    --fontfamily: Optima, sans-serif;

    --logo-titulo-fontsize: 23pt;

    --logo-subtitulo-fontsize: 8pt;

    --reservar-fontfamily: Verdana, sans-serif;
    --reservar-fontsize: 10pt;

    --nav-bg-color: #F6F4F0;

    --nav-link-fontsize: 10pt;
    
}